<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roku Alarm Clock</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Dashboard</a>
            <a href="/devices">Devices</a>
            <a href="/videos">Videos</a>

        </nav>
    </header>
    <div>
        <h1>Roku Alarm Clock</h1>
        <p>Wake up to your favorite Youtube Video</p>
        <div class="dashboard">
            <div class="alarms">
            <h2>Alarms</h2>
                <h3>Monday</h3>
                <ul>
                    <li>Alarm 1 
                        <button>delete</button>
                        <ul>
                            <li>Video 1</li>
                        </ul>
                        <p>Note</p>
                    </li>
                </ul>
                <h3>Tuesday</h3>
                <ul>
                    <li>Alarm 1 
                        <ul>
                            <li>Video 1</li>
                        </ul>
                        <button>delete</button>
                        <p>Note</p>
                    </li>
                </ul>
            </div>
            <div class="notifications">
                <h2>Notifications</h2>
                <p>Next Alarm: X:XX AM</p>
                <p>Current Devices</p>
            </div>
        </div>
        <h2>Set Alarm</h2>
        <form action="/alarms" method="post">
            <label for="day">Day:</label>
            <input type="date" name="day" required>
            <label for="time">Time:</label>
            <input type="time" name="time" required>
            <button type="submit">Set Alarm</button>
        </form>
        <form action="/videos" method="post">
            <label for="youtube">Add Youtube video:</label>
            <input type="text" name="youtube video" required>
            <button type="submit">Add Video</button>
        </form>
    </div>    
</body>
</html>